/**************
	ELEMENTS  *
 **************/
html {
	margin: 0px !important;
	padding: 0px !important;
}

body {
	color:  #222;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
}

footer {
	background-color: #f0f0f0;
	margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0rem;
}

h1, h2 {
	font-weight: 900;
}

li {
	margin-left: 1.2rem;
}

main {
	max-width: 1140px;
	padding: 1rem;
	z-index: -1;
}

p {
	margin-bottom: 1.5rem;
}


/*************
	CLASSES  *
**************/
.box {
	background-color: #F0F6FE;
	border-radius: 10px;
	text-align: center;
}

.container-lg {
	max-width: 1140px;
}

.underscore {
	color: #222 !important;
	display: inline-block;
	position: relative;
}

.underscore:hover {
	color: #222;
}

.underscore:after {
	background-color: #222;
	content: '';
	position: absolute;
	height: 2px;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.3s ease-out;
	width: 100%;
}

.underscore:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navbar-brand {
	color: #222;
	font-family: 'Nunito', sans-serif;
	font-size: 2rem;
	font-weight: 900;
}


/*********
	IDs  *
**********/
#about-text {
	font-size: 1.5rem;
}

#logo-image {
	position: relative;
	height: 2rem;
	top: -3px;
}

#name {
	font-size: 3rem;
	margin: 2rem 0rem;
}

#profile-image {
	border-radius: 50%;
	display: block;
	height: auto;
	width: 200px;
}

#profile-image-wrapper {
	position: relative;
	/* Generated using: https://learnui.design/tools/gradient-generator.html */
	background: linear-gradient(120deg, #0065d2, #0069d6, #0075e0, #0087ec, #009bf6, #00b0f9, #00c5f6, #00d8ee, #00e8e3, #00f4da, #00fcd3, #00ffd1);
	/* background: linear-gradient(to right, rgb(255,0,0), rgb(255,0,255)); */
	border-radius: 50%;
	padding: 3px;
}

#subtitle {
	font-size: 2.5rem;
	font-weight: 900;
	padding-right: 4.5rem;
}

#work-examples img {
	border-radius: 10px;
}